@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Body */
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
@media  (max-width:768px) {
  body{
    visibility: visible;
    align-items: center;
    margin-right: 0%;
  }
}
/* Button with Blue Background */
.blue-rounded-btn {
  background: #605FFC;
  color: #fff;
  text-decoration: none;
  padding: 10px 32px;
  border-radius: 30px;
  display: inline-block;
  /* font-weight: 500; */
  font-size: 20px;
  width: fit-content;
  cursor: pointer;
}
.blue-bg-btn {
  background: #605FFC;
  color: #FFFFFF;
  text-decoration: none;
  padding: 10px 32px 10px 32px;
  border-radius: 32px;
  margin-left: 1rem;
  display: inline-block;
}

/* Navigation Link */
.nav-link {
  font-size: 16px;
  color: #000000;
  margin: 0 1rem;
}

/* Active Navigation Link in Navbar Section */
.navbar-section .nav-link.active {
  color: #8e2975;
}

/* Carousel Indicators */
.carousel-indicators [data-bs-target] {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 20px;
  height: 2px;
  padding: 0px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  background-clip: padding-box;
  border-width: 5px 0px;
  border-right-style: initial;
  border-left-style: initial;
  border-right-color: initial;
  border-left-color: initial;
  border-image: initial;
  border-top-style: solid;
  border-top-color: transparent;
  border-bottom-style: solid;
  border-bottom-color: transparent;
  opacity: 0.5;
}
.carousel-item {
  position: relative;
  display: none;
  float: left;
  width: 100%;
  margin-right: -100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  /* transition: transform .6s ease-in-out; */
}

/* Active Button in Carousel Indicators */
.carousel-indicators button.active {
  color: #8B2D88;
  width: 60px;
  height: 2px;
  border-radius: 50%;
  padding: 0;
  margin: 0 5px;
  opacity: 1;
}
@media (max-width: 991.98px) {
  .banner-section2 .container-fluid {
    flex-direction: column;
  }
  
  .banner-section2 .row {
    flex-direction: column-reverse;
  }
}

/* Banner Text */
.banner-text {
  font-size: 4.5vw;
  margin: 0;
  color: #39393A;
}

/* Banner Text1 */
.banner-text1 {
  font-size: 1.5vw;
  color: #39393A;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0.02em;
  text-align: left;
  margin: 2.9%;
}
.banner-section2nd{
  font-size: 2.8vw;
  color: #39393A;
}

/* Media Query for Screen Width <= 768px */
@media screen and (max-width: 768px) {
  /* Adjustments for Banner Text */
  .banner-text {
    font-size: 8vw;
  }
  /* Adjustments for Banner Text1 */
  .banner-text1 {
    font-size: 5vw;
  }
  .banner-section2nd{
    font-size: 5vw;
  }
  
}

/* Section OUR CORE COMPETENCIES  */
.our-core {
  margin-top: 0%;
  background-image: url('./images/Slide2_left.png'), url('./images/Slide2_right.png');
  background-position: left top 10%, right top;
  background-repeat: no-repeat;
  background-size: 9%, 12%;
}
  .core-competencies{
      font-weight: 400;
      font-size: 20px;
      line-height: 30px;
      color: #8b2d88;
     
  }

  .research-design-optimize{
      font-style: normal;
      font-weight: 700;
      font-size: 48px;
      line-height: 72px;
      letter-spacing: 2%;
      color: #39393A;
     
     
  }

  .text-container {
      font-size: 25px;
      font-weight: 600;
      line-height: 38px;
      letter-spacing: 0.02em;
      text-align: center;
      padding-top: 40px;
      color: #FFFFFF;
  }

  .image-container{
      width: 60.89px;
      height: 69.68px;
      padding-top: 30px;
     
  }
 
      .shape-container {
          position: relative;
          width: 0%; 
          height: 100%; 
      }

      .shape1_1 {
          position: absolute;
          top: 41px;
          left: 68px;
          background-size: cover; /* or 'contain' depending on your preference */
          background-repeat: no-repeat;
      }
 
  .shape2_2{
      position: absolute;
          top: 41px;
          left: 68px;
          background-size: cover; /* or 'contain' depending on your preference */
          background-repeat: no-repeat;
  }
  
  .shape3_3{
      position: absolute;
          top: 29px;
          left: 97px;
          background-size: cover; /* or 'contain' depending on your preference */
          background-repeat: no-repeat;
  }
 
  .shape4_4{
      position: absolute;
          top: 41px;
          left: 68px;
          background-size: cover; /* or 'contain' depending on your preference */
          background-repeat: no-repeat;
  }
 
  .shape5_5{
      position: absolute;
          top: 41px;
          left: 68px;
          background-size: cover; /* or 'contain' depending on your preference */
          background-repeat: no-repeat;
  }
  .shape1_1,
.shape2_2,
.shape3_3,
.shape4_4,
.shape5_5 {
    margin: 0;
    padding:0;
}
  .text-below {
     position: absolute;
          bottom: 81px;
          left: 53px;           
          text-align: center;
          font-weight: 600;
          font-size: 25px;
          color: #FFFFFF;
         
  }
  .text-below3 {
  position: absolute;
  bottom: 37%; 
  left: 18%;  
  font-weight: 600;
  font-size: 25px; 
  color: #FFFFFF;
  text-align: center;
  padding-left: 63px; 
}


  .text-below4 {
      position: absolute;
          bottom: 100px;
          left: 66px;          
          text-align: center;
          font-weight: 600;
          font-size: 26px;
          color: #FFFFFF;
         
  } 
  .our-core1{
    margin: 0%;
  }
  @media (max-width: 769px){
  .our-core{
    background-position: left top 61%, right top;
  background-repeat: no-repeat;
  background-size: 31%, 48%;
  }
  .our-core1 .row{
    margin-left: 15%;
  }
    .research-design-optimize{
    font-size: 24px;
    line-height: 35px;
  }
  }

  @media (min-width:769) and (max-width: 1200px){
    .our-core{
      background-position: left top 61%, right top;
    background-repeat: no-repeat;
    background-size: 31%, 48%;
    }
    .our-core1 .row{
      margin-left: 15%;
    }
  }


/* SECTION (Our Services) */
/* SECTION (Our Services) */
.our-services {
           
  background-image: url('./images/Our Services.jpg');
  background-size: cover;
  padding: 50px 0;
  height: auto;
         }
.our_service{

width: 142px;
height: 30px;
font-weight: 400;
font-size: 20px;
line-height: 30px;
letter-spacing: 0.02em;
text-wrap: nowrap;
color:#E491E1;

}
.elevate-heading {

  font-weight: 700;
  font-size: 48px;
  line-height: 76px;
  color: #FFFFFF;
}
@media screen and (max-width: 769px){
.elevate-heading {
    font-size: 24px;
    line-height: 34px;
}
}
.card {
  position: relative;
  background: #FFFFFF;
  border: 2px solid #8B2D88;
  border-radius: 22px;
 height: 355px;
}

.card-title {
position: relative;
font-style: normal;
font-weight: 700;
font-size: 28px;
letter-spacing: 0.02em;
color: #4E5AC3;   
padding-left: 20px;
padding-right: 20px;
padding-top: 40px;

}

.card-text {
position: relative;
font-weight: 500;
font-size: 18px;
letter-spacing: 0.02rem;
color: #616165;

padding-top: 15px;

}
/* Our Processs */

.heading {
  font-size: 48px;
  font-weight: 700;
  line-height: 54px;
  color: #39393A;
}

.heading span {
  font-size: 42px;
  color: #8B2D88;
}

.subheading {
  font-size: 20px;
  color: #8B2D88;
  font-weight: 400;
}
@media only screen and (max-width: 900px) {
  .panel-heading .nav li {
    margin-right: 1rem;
}
}
@media only screen and (max-width: 668px) {
  
  .panel-heading,
  .panel-body {
      width: 100%;
  }

  .slick-list {
      width: 100%;
  }

  .service-card p {
      min-height: auto;
  }

  .panel-heading {
      overflow-y: auto;
      margin-bottom: 2rem;
      padding-bottom: 1rem;
  }

  .panel-heading::-webkit-scrollbar {
      height: 5px;
      background: #270552;
  }

  .panel-heading::-webkit-scrollbar-track {
      background: #270552;
  }

  .panel-heading::-webkit-scrollbar-thumb {
      background: #fff;
      border-radius: 10px;
  }

  .panel-heading::-webkit-scrollbar-thumb:hover {
      background: #fff;
  }

  .panel-heading .nav li {
      width: 30%;
  }

  .tab-title {
      margin-top: 1rem !important;
      padding: 0.8rem;
      font-size: 14px;
  }

  .panel-heading .nav {
      display: flex;
      flex-direction: row;
      width: 900px;
  }
}

.panel {
  display: flex;
  flex-wrap: wrap;
  background: #270552;
  padding: 2rem;
  border-radius: 28px;
}

.panel-heading .nav {
  display: flex;
  flex-direction: column;
}

.panel-heading .nav li {
  border-bottom: 1px solid #D9D9D9;
  margin-right: 2rem;
}

.panel-heading {
  width: 40%;
}

.panel-body {
  width: 60%;
}

.tab-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem 1rem 1rem;
  margin: 1rem 0;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.tab-title img {
  width: 35px;
}

.active .tab-title {
  background: #d9d9d978;
  border-radius: 12px;
}

.accordion {
  background: #fff;
  border-radius: 12px;
  padding: 1rem;
}

.accordion-item {
  border: none;
  border-bottom: 1px solid #A0A4A9;
  margin: 0 1rem;
  border-radius: 0;
}

.accordion-header {
  background-color: #ffffff;
  padding: 10px;
  cursor: pointer;
  color: #8B2D88;
  position: relative;
}

.accordion-header::after {
  content: '+';
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0;
}

.accordion-header.active::after {
  content: '-';
}

.accordion-content.active {
  border-top: 1px solid #A0A4A9;
}

.accordion-content {
  display: none;
  padding: 10px;
  font-size: 14px;
  color: #1A1D1F;
  transition: all 300ms ease-in-out;
}

.accordion-content.active {
  display: block;
}

/* Section USE CASES */
.use-cases-banner{

  margin-top: 40%;
  margin-bottom: -14%;
  background-image: url('./images/Rectangle 11.png');
  background-position: left top 21%;
  background-repeat: no-repeat;
  background-size: 35% ,12%;
}
.use-cases {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #8B2D88;
  }

  .real-narratives {
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
  letter-spacing: 0.02em;
  color: #39393A;  
  }
  @media screen and (max-width:768px) {
    .real-narratives{
      font-size: 24px;
      line-height: 35px;
    }
    
  }
  .real-imapact{
    color: rgba(139, 45, 136, 1);
  }

.rectangle-25657 {
    background-color: #1D1945;
    padding: 24px;
    height: 100%;
    width : 100;
}

.button-know-more {
    margin-top: auto;
}

.position-right {
  position: absolute;
  right: 0;
  top: 60%;
  bottom: 0;
  top: 39%;
  transform: translateY(-50%);
}

.blue-bg-btn {
  background: #605FFC;
  color: #FFFFFF;
  text-decoration: none;
  padding: 10px 32px 10px 32px;
  border-radius: 32px;
}

.intuitive,
.elevate{
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.02em;
    
    color: #F3F3F3;  
}

.ux-ui,
.strategy{
    font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  
  color: #D0CCFF;
}

.optimized-experience,
.platform-wise {
    font-weight: 500;
font-size: 18px;
line-height: 27px;
letter-spacing: 0.02em;

color: #FFFFFF;
}

@media (max-width: 1440px) {
  .card-title {
      font-size: 18px;
  }

  .card-text {
      font-size: 14px;
  }

  .card {
      height: auto;
  }
}
/* -- SECTION (PROJECT DELIVERED) -- */
#Project-Delivered .container {
  position: relative;
  margin-top: 18rem !important;
}

.project-text{
font-size: 60px;
font-weight: 700;
color: #4F489C;
}
.across {
  width: 100%;
  max-width: 100%;
  margin: 7% auto;
  font-family: "Poppins", sans-serif;
  font-size: 26px !important;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #8b2d88;
}

.Project-Delivered{

background-image: url('./images/pink blob vector.png'), url('./images/Vector (3).png');
background-position: left -10% top 121%, right top;
background-repeat: no-repeat;
background-size: 25% ,10%;
margin-top: 30%;
}

 .frame-114 {
  width: 100%;
  max-width: 100%;
  height: fit-content;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -5%;
  gap: 10px;
}

.frame-114 p {
  margin-left: -10%;
  margin-right: -10%;
  text-align: center;
}
.rectangle-25659 {
  box-sizing: border-box;
  width: 100%;
  height: 124%;
  max-width: 100%;
  margin: auto;
  opacity: 1;
  border: 1px groove #8b2d88;
  border-radius: 21px;
}



 .frame-115,
.frame-117,
.frame-118 {
  width: fit-content;
  max-width: 80%;
  margin: 15px auto 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  gap: 10px;
  background: #ffffff;
  border: 1px solid #4f489c;
  border-radius: 50px;
  margin-top: -9%;
}

.frame-116,
.frame-120,
.frame-119{
  width: fit-content;
  max-width: 80%;
  margin: 11% auto 20%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  gap: 10px;
  background: #ffffff;
  border: 1px solid #4f489c;
  border-radius: 50px;
}
.health-tech {
  
  max-width: 100%;
  
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 45px;
  letter-spacing: 0.02em;
  color: #39393a;
  margin: 6% 0;
}
.fintech {
  
  max-width: 100%;
  
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 45px;
  letter-spacing: 0.02em;
  color: #39393a;
  margin: 6% 0;
}
.ai-bots {
  
  max-width: 100%;
  
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 45px;
  letter-spacing: 0.02em;
  color: #39393a;
  margin: 6% 0;
}
.food-tech {
  
  max-width: 100%;
  
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 45px;
  letter-spacing: 0.02em;
  color: #39393a;
  margin: 6% 0;
}
.e-commerce {
  
  max-width: 100%;
  
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 45px;
  letter-spacing: 0.02em;
  color: #39393a;
  margin: 6% 0;
}
.saas {
  
  max-width: 100%;
  
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 45px;
  letter-spacing: 0.02em;
  color: #39393a;
  margin: 6% 0;
}
@media screen and (max-width:600px) {
  #Project-Delivered .container {
    position: relative;
    margin-top: 7rem !important;
  }
.project-text{
  font-size: 16px !important;
}
.across{
  font-size: 20px !important;
}
}
@media screen and (max-width:768px) {
  #Project-Delivered .container {
    position: relative;
    margin-top: 7rem !important;
  }
.project-text{
  font-size: 26px;
}
.across{
  font-size: 18px !important;
}
}

@media (min-width:768px) and (max-width:1200px) {
  #Project-Delivered .container {
    position: relative;
    margin-top: 10% !important;
  }
.project-text{
  font-size: 32px;
}
.across{
  font-size: 20px !important;
  margin-top: 4%;
}
.Project-Delivered{
background-position: left -12% top 90%, right top !important;

background-size: 25%, 12% !important;
}
}
@media (min-width: 320px) and (max-width: 1100px) {
  .frame-115,
  .frame-117,
  .frame-118,
  .frame-116,
  .frame-120,
  .frame-119 {
    max-width: 100%;
    padding: 28px;
    border-radius: 50px;
    margin-top: 3%;
    padding-top: 0%;
    padding-bottom: 0;
  }
  .frame-116,
  .frame-120,
  .frame-119{
    margin: 3% auto 2%;
    padding: -1%;
  }
  .health-tech,
  .fintech,
  .ai-bots,
  .food-tech,
  .e-commerce,
  .saas {
    font-size: 24px;
    line-height: 36px;
    margin: 4% 0;
  }
}


  /* Section Digital Experience */
  .digital-experience {
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 0.02em;
    text-align: center;
      margin-top: -15%;
}

.card8 {
    width: 262px;
    height: 340px;
    text-align: center;
}

.card-body_ {
    text-align: center;
}
.card8-1{
    background-image:url('./images/card3-1.jpg');
    padding-top: 60px;
    background-size: cover;
    background-image: url('AI_bg.png');
}
.card8-2{
  background-image:url('./images/card-2.jpg');
   padding-top: 30px;
   background-size: cover;
   background-image: url('card-2-bg.png');
  padding-left: 0px;
   background-position: right ;
}
.card8-3{
  background-image:url('./images/card-3.jpg');
    background-image: url('card-3-bg.png');
    padding-top: 70px;
    background-size: cover;
}
.card8-4{
    background: #4F489C;
    background-image: url('card-4-bg.png');
    padding-top: 30px;
    background-position: left left ;

}
.card8-5{
    background: #270552;
    background-image: url('card-5-bg.png');
    background-size: cover;
    padding-top: 40px;
}
.text {
    color: white;
    margin-top: 50px;
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0.02em;
    text-align: center;
   
}

.digital {
    position: relative;
    margin-top: 20px;
}

@media (min-width: 576px) {
    .card8 {
        width: 45%;
    }
    
    .text {
        font-size: 28px;
        line-height: 40px;
    }
}

@media (max-width: 576px) {
    .card8 {
        width: 100%;
    }
}

  /* Section Impact 75+ */
  .impact{
    margin-top: 15%;
  }
  .impact-number {
       
    font-weight: 700;
    font-size: 100px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #4F489C;
}
.impact-text {
   
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #8B2D88;
}
.impact {
    margin-top: 10%;
  }
  
@media  (min-width: 320px) and (max-width: 1100px) {
    .impact-number {
      font-size: 20px;
    }
    .impact-text {
      font-size: 10px;
    }
  }
  
  /* Section Map */
.map_left {
    width: 50%;
    height: auto;
    object-fit: contain;
    margin-top: 7rem;
  
  }
  /* Section Help */
  .cta-section {
    background-image: url(../images/get-help-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.home-map-section::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100px;
  height: 200px;
  background-image: url(../images/gradient-circle-left.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right top;
  z-index: -1;
}
.home-map-section::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
  height: 200px;
  background-image: url(../images/fade-circle-right.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right top;
  z-index: -1;
}
.cta-header {
  margin-bottom: 0;
  font-size: 32px;
  color: #fff;
  padding-left: 1.5rem;
  font-weight: 600;
}
  /* Section Meet */
  .Section-Meet {
    margin-top: 14%;
  }
  
  .meet {
    position: absolute;
    width: 50%;
    left: 27%;
    top: -30%;
    font-size: 48px !important;
    font-family: "Poppins",sans-serif;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.02em;
    color: #39393a;
  }
  .meet-team{
    margin-top: 1%;
  }
  
  /* Add media query for smaller screens */
  @media (max-width: 435px) {
    .meet {
      width: 100%;
      left: 0%; 
      top: -15%;
      font-size: 36px !important;
    }
    @media (max-width: 435px){}
    .meet-team {
      margin-top: 72%;
      margin-left: 17%;
      width: 62%;
}
  }
  
  .meet-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2%;
  }
  
  .first-image a,
  .second-image a,
  .third-image a,
  .fourth-image a {
    color: #0d6efd;
    text-decoration: none;
    margin-left: 30%;
    margin-top: 9%;
  }
  
  .carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 0px;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 0;
    
    
    list-style: none;
  }
  
  .carousel-indicators button  {
    margin-right: 0%;
    background: #8b2d88;
    border-radius:20px;
  }
  
  .arrow-icon {
    color: #8B2D88;
    font-size: 183%;
  }
  .carousel-control-prev {
    left: -36px;
  }
  @media (min-width: 435px)and (max-width: 1200px) {
  .meet {
    width: 100%;
    left: 0%;
    top: -14%;
    font-size: 24px;
  }
  .meet-team {
    margin-top: 20% !important;
    
  }
  .meet-section {
    flex-wrap: wrap;
    margin-left: 0;
  }
  .first-image,
  .second-image,
  .third-image,
  .fourth-image {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
}


  /* footer */
  .top-footer-section {
    background-image: url(../images/top-footer-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    /* height: 400px; */
    position: relative;
}
.top-footer-content {
  width: 80%;
  margin: auto;
  height: 100%;
  text-align: center;
}
.top-footer-content h3 {
  font-size: 48px;
  color: #fff;
  font-weight: bold;
  margin-bottom: 3rem;
  line-height: 1.5;
}
  
  /* /footer-section-2/ */
  .footer-section {
    background-image: url(../images/footer-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.copyright-text {
    color: #414852;
    font-size: 16px;
    margin-top: 1rem;
}

.footer-menu-title {
    color: #581E9D;
    font-weight: bold;
}

.footer-menu-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.footer-menu-link {
    color: #414852;
    font-size: 16px;
    text-decoration: none;
    padding-top: 1rem;
    display: block;
}

.newsletter-section h4 {
    color: #414852;
    font-size: 22px;
    padding-bottom: 1rem;
    font-weight: 400;
}

.newsletter-form {
    display: flex;
    align-items: center;
}

.newsletter-input {
    color: #000;
    font-size: 15px;
    font-weight: 500;
    background: #fff;
    border: navajowhite;
    padding: 15px 20px;
    width: 65%;
}

.newsletter-input::placeholder {
    color: #414852;
    font-size: 15px;
    font-weight: 500;
}

.newsletter-btn {
    background: #605FFC;
    color: #fff;
    text-decoration: none;
    padding: 15px 20px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 500;
    display: inline-block;
    width: 35%;
}

.footer-social-link ul {
    list-style: none;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-bottom: 1px solid #41485299;
    padding: 1rem 0;
}

.footer-social-link li {
    padding-left: 1rem;
}

.back-to-top-btn {
    position: absolute;
    right: 10%;
    cursor: pointer;
}
@media only screen and (max-width: 668px) {
    .footer-menu {
        padding: 1.5rem 0;
    }

    .footer-logo-module {
        padding-left: 0;
    }
}

.footer-contact-module a {
  text-decoration: none;
  color: #8B2D88;
  font-size: 16px;
  font-weight: 500;
  padding-bottom: 5px;
  display: block;
}

.footer-contact-module h4 {
  font-size: 16px;
  font-weight: bold;
  color: #414852;
  padding: 1rem 0 0.5rem;
}
.footer-contact-module ul {
  padding: 0;
  margin: 0;
  list-style: none;
}