@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Body */
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
@media  (max-width:768px) {
  body{
    visibility: visible;
    align-items: center;
    margin-right: 0%;
  }
}
/* Button with Blue Background */
.blue-bg-btn {
  background: #605FFC;
  color: #FFFFFF;
  text-decoration: none;
  padding: 10px 32px 10px 32px;
  border-radius: 32px;
  margin-left: 1rem;
  display: inline-block;
}

/* Navigation Link */
.nav-link {
  font-size: 16px;
  color: #000000;
  margin: 0 1rem;
}

/* Active Navigation Link in Navbar Section */
.navbar-section .nav-link.active {
  color: #8e2975;
}

/* Carousel Indicators */
.carousel-indicators [data-bs-target] {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 20px;
  height: 2px;
  padding: 0px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  background-clip: padding-box;
  border-width: 5px 0px;
  border-right-style: initial;
  border-left-style: initial;
  border-right-color: initial;
  border-left-color: initial;
  border-image: initial;
  border-top-style: solid;
  border-top-color: transparent;
  border-bottom-style: solid;
  border-bottom-color: transparent;
  opacity: 0.5;
}
.carousel-item {
  position: relative;
  display: none;
  float: left;
  width: 100%;
  margin-right: -100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  /* transition: transform .6s ease-in-out; */
}

/* Active Button in Carousel Indicators */
.carousel-indicators button.active {
  color: #8B2D88;
  width: 60px;
  height: 2px;
  border-radius: 50%;
  padding: 0;
  margin: 0 5px;
  opacity: 1;
}
@media (max-width: 991.98px) {
  .banner-section2 .container-fluid {
    flex-direction: column;
  }
  
  .banner-section2 .row {
    flex-direction: column-reverse;
  }
}

/* Banner Text */
.banner-text {
  font-size: 4.5vw;
  margin: 0;
  color: #39393A;
}

/* Banner Text1 */
.banner-text1 {
  font-size: 24px;
  color: #39393A;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0.02em;
  text-align: left;
  margin: 2.9%;
}
.banner-section2nd{
  font-size: 36px;
  color: #39393A;
}

/* Media Query for Screen Width <= 768px */
@media screen and (max-width: 768px) {
  /* Adjustments for Banner Text */
  .banner-text {
    font-size: 8vw;
  }
  /* Adjustments for Banner Text1 */
  .banner-text1 {
    font-size: 5vw;
  }
  .banner-section2nd{
    font-size: 5vw;
  }
  
}

/* Section OUR CORE COMPETENCIES  */
    .core-competencies{
        font-size: 20px;
        line-height: 30px;
        color: #8b2d88;
        padding-left: 50px;
    }
    .our-core {
      margin-top: 5%;
    background-image: url('./images/Slide2_left.png'), url('./images/Slide2_right.png');
    background-position: left top 10%, right top;
    background-repeat: no-repeat;
    background-size: 9% ,12%;
}
.research-design-optimize {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
  letter-spacing: 0.02em;
  color: #39393A;
  padding-left: 50px;
}

/* Responsive adjustments */
@media screen and (max-width: 767px) {
  .core-competencies{
    font-size: 15px;
    margin-left: -5%
  }
  .research-design-optimize {
      font-size: 24px;
      line-height: 54px;
      padding-left: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1440px) {
  .research-design-optimize {
      font-size: 44px;
      line-height: 66px;
      padding-left: 30px;
  }
}

@media screen and (min-width:768px) and (max-width:1440px){
  .research-design-optimize {
      font-size: 48px;
      line-height: 72px;
      padding-left: 50px; 
  }
}


    .text-container {
        font-size: 25px;
        font-weight: 600;
        line-height: 38px;
        letter-spacing: 0.02em;
        text-align: center;
        padding-top: 40px;
        color: #FFFFFF;
    }

    .image-container{
        width: 60.89px;
        height: 69.68px;
        padding-top: 30px;
    }
   
    
    .shape1 {
        position: absolute;
       z-index: 0;

    }
    .shape1_1{
      position:relative;
      padding-top:23%;
      padding-left:33%;
      z-index: 1;

    }
    .shape2 {
        position: absolute;
       z-index: 0;

    }
    .shape2_2{
        z-index: 1;
        position: relative;
        padding-top:23%;
        padding-left: 68px;
    }
    .shape3{
        position: absolute;
        z-index: 0;
    }
    .shape3_3{
        z-index: 1;
        position: relative;
        padding-top:20%;
        padding-left: 95px;
    }
    .shape4{
        position: absolute;
        z-index: 0;
    }
    .shape4_4{
        z-index: 1;
        position: relative;
        padding-top:25%;
        padding-left: 89px;
    }
    .shape5{
        position: absolute;
        z-index: 0;
    }
    .shape5_5{
        z-index: 1;
        position: relative;
        padding-top:17%;
        padding-left: 95px;
    }
    .text-below {
       z-index: 1;
position: relative;
width: 180px;
height: 97px;
padding-left: 26px;
font-weight: 600;
font-size: 25px;
line-height: 38px;
text-align: center;
letter-spacing: 0.02em;
color: #FFFFFF;
    }
    .text-below3 {
       z-index: 1;
position: relative;

padding-left: 68px;
font-weight: 600;
font-size: 25px;

letter-spacing: 0.02em;
color: #FFFFFF;
    }   
 .Slide2_left{
    position: absolute;
    padding-top: 31px;
    height: 200px;
 }
 
 .Slide2_right{
height: 300px;
 }




/* SECTION (Our Services) */
/* SECTION (Our Services) */
.our-services {
           
  background: #1B0339;
  padding: 50px 0;
  height: auto;
         }
.our_service{

width: 142px;
height: 30px;
font-weight: 400;
font-size: 20px;
line-height: 30px;
letter-spacing: 0.02em;
text-wrap: nowrap;
color:#E491E1;

}
.elevate-heading {

  font-weight: 700;
  font-size: 48px;
  line-height: 76px;
  color: #FFFFFF;
}
@media screen and (max-width: 769px){
  .elevate-heading{font-size: 24px;}
}
.card {
  position: relative;
  background: #FFFFFF;
  border: 2px solid #8B2D88;
  border-radius: 22px;
 height: 355px;
}

.card-title {
position: relative;
font-style: normal;
font-weight: 700;
font-size: 28px;
letter-spacing: 0.02em;
color: #4E5AC3;   
padding-left: 20px;
padding-right: 20px;
padding-top: 40px;

}

.card-text {
position: relative;
font-weight: 500;
font-size: 17px;
letter-spacing: 0.02rem;
color: #616165;

padding-bottom: 50px;

}
.triangle{
position: absolute;
width: 789.91px;
height: 562.32px;
right: 0px; 
}
.top_left{
position: absolute;
  width: 599px;
  left: -68px;
  opacity: 0.12;
}
/* Section USE CASES */
.use-cases-banner{

  margin-top: 40%;
  margin-bottom: -14%;
  background-image: url('images/Rectangle 11.png');
  background-position: left top 21%;
  background-repeat: no-repeat;
  background-size: 35% ,12%;
}
.use-cases {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #8B2D88;
  }

  .real-narratives {
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
  letter-spacing: 0.02em;
  color: #39393A;  
  }
  @media screen and (max-width:768px) {
    .real-narratives{
      font-size: 24px;
    }
    
  }
  .real-imapact{
    color: rgba(139, 45, 136, 1);
  }

.rectangle-25657 {
    background-color: #1D1945;
    padding: 24px;
    height: 100%;
    width : 100;
}

.button-know-more {
    margin-top: auto;
}

.position-right {
  position: absolute;
  right: 0;
  top: 60%;
  bottom: 0;
  top: 39%;
  transform: translateY(-50%);
}

.blue-bg-btn {
  background: #605FFC;
  color: #FFFFFF;
  text-decoration: none;
  padding: 10px 32px 10px 32px;
  border-radius: 32px;
}

.intuitive,
.elevate{
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.02em;
    
    color: #F3F3F3;  
}

.ux-ui,
.strategy{
    font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  
  color: #D0CCFF;
}

.optimized-experience,
.platform-wise {
    font-weight: 500;
font-size: 18px;
line-height: 27px;
letter-spacing: 0.02em;

color: #FFFFFF;
}

@media (max-width: 1440px) {
  .card-title {
      font-size: 18px;
  }

  .card-text {
      font-size: 14px;
  }

  .card {
      height: auto;
  }
}
/* -- SECTION (PROJECT DELIVERED) -- */
#Project-Delivered .container {
  position: relative;
  margin-top: 18rem !important;
}

.project-text{
font-size: 60px;
}
@media screen and (max-width:768px) {
  #Project-Delivered .container {
    position: relative;
    margin-top: 7rem !important;
  }
.project-text{
  font-size: 2vh;
}
}


.Project-Delivered{
  margin-top: 34%;
background-image: url('./images/pink blob vector.png'), url('./images/Vector (3).png');
background-position: left -10% top -100%, right top;
background-repeat: no-repeat;
background-size: 25% ,12%;
}

 .frame-114 {
  width: 100%;
  max-width: 100%;
  height: fit-content;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -5%;
  gap: 10px;
}

.frame-114 p {
  margin-left: -22%;
  margin-right: -22%;
  text-align: center;
}

.inside-auto-layout {
  width: 100%;
  max-width: 730px;
  height: 90px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
  letter-spacing: 0.02em;
  color: #4f489c;
}

.rectangle-25659 {
  box-sizing: border-box;
  width: 100%;
  height: 124%;
  max-width: 100%;
  margin: auto;
  opacity: 1;
  border: 2px solid #8b2d88;
  border-radius: 21px;
}

.across {
  width: 100%;
  max-width: 100%;
  margin: auto;
  font-family: "Poppins", sans-serif;
  font-size: 26px !important;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #8b2d88;
}

 .frame-115,
.frame-117,
.frame-118,
.frame-116,
.frame-120,
.frame-119 {
  width: fit-content;
  max-width: 80%;
  margin: 15px auto 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  gap: 10px;
  background: #ffffff;
  border: 1px solid #4f489c;
  border-radius: 50px;
}

.health-tech {
  
  max-width: 100%;
  
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 45px;
  letter-spacing: 0.02em;
  color: #39393a;
  margin: 6% 0;
}
.fintech {
  
  max-width: 100%;
  
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 45px;
  letter-spacing: 0.02em;
  color: #39393a;
  margin: 6% 0;
}
.ai-bots {
  
  max-width: 100%;
  
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 45px;
  letter-spacing: 0.02em;
  color: #39393a;
  margin: 6% 0;
}
.food-tech {
  
  max-width: 100%;
  
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 45px;
  letter-spacing: 0.02em;
  color: #39393a;
  margin: 6% 0;
}
.e-commerce {
  
  max-width: 100%;
  
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 45px;
  letter-spacing: 0.02em;
  color: #39393a;
  margin: 6% 0;
}
.saas {
  
  max-width: 100%;
  
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 45px;
  letter-spacing: 0.02em;
  color: #39393a;
  margin: 6% 0;
}

@media only screen and (max-width: 768px) {
  .frame-115,
  .frame-117,
  .frame-118,
  .frame-116,
  .frame-120,
  .frame-119 {
    max-width: 100%;
    padding: 20px;
    border-radius: 50px;
  }

  .health-tech,
  .fintech,
  .ai-bots,
  .food-tech,
  .e-commerce,
  .saas {
    font-size: 24px;
    line-height: 36px;
    margin: 4% 0;
  }
}

  /* Section Digital Experience */
  /* Section Digital Experience */
  .digital-experience {
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 0.02em;
    text-align: center;
}

.card8 {
    width: 262px;
    height: 340px;
    
}

.card-body_ {
    text-align: center;
}
.card8-1{
    background: #270552;
    padding-top: 50px;
    background-size: cover;
    background-image: url('images/AI_bg.png');
}
.card8-2{
   background: #4F489C;
   padding-top: 40px;
   background-image: url('images/card-2-bg.png');
  padding-left: 0px;
   background-position: right ;
}
.card8-3{
    background: #270552;
    background-image: url('images/card-3-bg.png');
    padding-top: 30px;
    background-size: cover;
}
.card8-4{
    background: #4F489C;
    background-image: url('images/card-4-bg.png');
    padding-top: 20px;
    background-position: left left ;

}
.card8-5{
    background: #270552;
    background-image: url('images/card-5-bg.png');
    background-size: cover;
    padding-top: 20px;
}
.text-digital {
    color: white;
    margin-top: 50px;
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0.02em;
    text-align: center;
   
}

.digital {
    position: relative;
    margin: 7%;
}

@media (min-width: 576px) {
    .card8 {
        width: 45%;
        margin: 0px;
        margin-top: -7%;
    }
    
}
#digital .container{
  margin-left: 0%;
}
@media (max-width:768)
{
  .digital{
    margin-left: 0%;
  }
}

  /* Section Impact 75+ */
  .impact{
    margin-top: 15%;
  }
  .impact-number {
       
    font-weight: 700;
    font-size: 100px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #4F489C;
}
.impact-text {
   
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #8B2D88;
}
.impact {
    margin-top: 10%;
  }
  
@media  (min-width: 320px) and (max-width: 768px) {
    .impact-number {
      font-size: 20px;
    }
    .impact-text {
      font-size: 10px;
    }
  }
  
  /* Section Map */
.map_left {
    width: 50%;
    height: auto;
    object-fit: contain;
    margin-top: 7rem;
  
  }
  /* Section Help */
  .help {
    position: relative;
    font-family: "poppins", sans-serif;
    background-color: #591757;
    color: #ffffff;
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 0.02em;
    text-align: left;
    padding: 20px;
    box-sizing: border-box;
}
.bg_left{
  position: relative;
  left: -37px;
  top:-16px
  
}
.bg_right {
    position: absolute;
    padding-top: 34px;
    right: 0;
}

#help .blue-bg-btn {
    background: #605ffc;
    color: #ffffff;
    text-decoration: none;
    padding: 10px 76px;
    border-radius: 32px;
    margin-top: 20px;
    display: inline-block;
    font-size: 26px;
}
.img-help{
  margin-left: -12%;
}
@media only screen and (max-width: 768px) {
    .help {
        font-size: 27px;
        margin-top: -13%;
        margin-left: 4%;
    }
#help .blue-bg-btn {
        padding: 15px 12px;
        font-size: 10px;
        margin-left: 0%;
    }
    .img-help{
      margin-left: -34%;
    }
    }




  /* Section Meet */
  .Section-Meet {
    margin-top: 14%;
  }
  
  .meet {
    position: absolute;
    width: 50%;
    left: 27%;
    top: -20%;
    font-size: 48px !important;
    font-family: "Poppins",sans-serif;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.02em;
    color: #39393a;
  }
  .meet-team{
    margin-top: 1%;
  }
  
  /* Add media query for smaller screens */
  @media (max-width: 768px) {
    .meet {
      width: 80%; /* Adjust width for smaller screens */
      left: 10%; /* Adjust left positioning */
      top: -5%; /* Adjust top positioning */
      font-size: 24px; /* Adjust font size */
    }
    .meet-team{
      margin-top: 29%;
      margin-left: 0%;
    }
  }
  
  .meet-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2%;
    margin-left: 8%;
  }
  
  .first-image a,
  .second-image a,
  .third-image a,
  .fourth-image a {
    color: #0d6efd;
    text-decoration: none;
    margin-left: 29%;
    margin-top: 9%;
  }
  
  .carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-right: 15%;
    margin-bottom: -2rem;
    list-style: none;
  }
  
  .carousel-indicators button  {
    margin-right: 0%;
    background: #8b2d88;
    border-radius:20px;
  }
  
  .arrow-icon {
    color: #8B2D88;
    font-size: 183%;
  }
  .carousel-control-prev {
    left: -36px;
  }

  /* footer */
 /* footer section 1*/
 .footer_1 {
      
  position: relative;
  font-family: 'poppins',sans-serif;
  background-color:#1B0339;
  color: #ffffff;
  
  font-size: 30px;
  font-weight: 600;
  
  letter-spacing: 0.02em;
  text-align: left;
  
  }
  .footer_left_1{
  position: absolute;
  }
  .footer_right_1{
  padding-top: 50px;
  right: 20px;
  }
  .footer_right_2{  
  position:absolute;
  right: 0;
  bottom: 0;
  }
  .foooter_text{
    font-size: 48px;
    font-weight: 700;
    line-height: 72px;
    letter-spacing: 0.02em;
    text-align: center;
    width: 100%;
    padding-top: 50px;
  }
  
  .get-started{
    padding-top: 50px;
    text-align: center;
    padding-bottom: 50px;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0.02em;
  }
  
  /* /footer-section-2/ */
  .footer-section-2{
  position: relative;
  background-color:rgba(210, 207, 242, 1);
  padding-top: 50px;
  background-image: url('images/Frame_2.png');
    background-position: right top;
    background-repeat: no-repeat;
    background-size: -2% ,12%;
  }
  
  .Image_3 {
  padding-top: 140px;
  left: 0;
  bottom: 0;
  position:absolute;
  }
  
  .Image_2{  
    background-image: url('images/Frame_2.png');
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 0% ,12%;
  }
  
  .text-uppercase {
  color: rgba(88, 30, 157, 1);
  text-align: left;
  font-size: 20px;
  font-weight: 600;
  margin-left: 0%;
  }
  .web_icon{
    margin-left: 0%;
  }
  a.text1 {
  color: rgba(65, 72, 82, 1);
  text-decoration: none;
  }
  @media screen and (max-width: 768px) {
    .text-uppercase {
    margin-left: 32% !important ;
    }
    .text1{
      margin-left: 32% !important;
    }
    .web_icon{
      margin-left: 16% !important;
    }
  }
  .newsletter{
  padding-top: 130px;
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: -0.30000001192092896px;
  text-align: left;
  }
  
  .email_text{
  width:65%;
  opacity: 0.5px;
  gap: 10px;
  padding: 10px;
  }
  
  .frame_newsletter{
  padding-top: 15px;
  text-decoration: none;
  border: rgba(210, 207, 242, 1);
  padding: 10px 0px 0px 0px;
  opacity: 0px;
  }